

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


.table2 {
    outline: 5px;
    outline-color: black;
    outline-style: dotted;
    width: 80%;
    align-items: center;
    text-align: center;
    align-self: center;
    margin-left: 10%;
}
body {
    font-family: 'Fjalla One', sans-serif;
    font-size: larger;
}
